@import "layout";
@import "navigation";
@import "product";
@import "cart";

* {
  margin: 0;
  padding: 0;
}

.cart {
  margin-top: 10px;
  padding: 0 40px;
}

.cart-title {
  font-size: 20px;
}

.l-header {
  margin-bottom: 10px;
  padding: 10px 20px;
  background: #fb8500;
}

.product {
  margin-bottom: 10px;
  padding: 20px;
  background: #8ecae6;
}

.l-col {
  width: 50%;
}
